<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-card id="card-auth">
          <v-card-text>
            <v-tabs fixed-tabs>
              <v-tab
                :id="'tab-' + item.key"
                v-for="item in tabItems"
                :key="item.key"
                @click="currentOption = item.key"
              >
                {{ item.title }}
              </v-tab>
              <v-tab-item
                v-for="item in tabItems"
                :key="item.key"
                :id="'form-' + item.key"
              >
                <v-card flat>
                  <v-card-text>
                    <sign-in-form
                      v-if="item.key === 'signIn'"
                      :formData="item.formData"
                      :errorAlert="item.errorAlert"
                      :errorMsg="item.errorMsg"
                      v-on:handleSignIn="handleSignIn"></sign-in-form>
                    <sign-up-form
                      v-else-if="item.key === 'signUp'"
                      :formData="item.formData"
                      :errorAlert="item.errorAlert"
                      :errorMsg="item.errorMsg"
                      v-on:handleSignUp="handleSignUp"></sign-up-form>
                  </v-card-text>
                </v-card>
              </v-tab-item>
            </v-tabs>
          </v-card-text>
        </v-card>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import signInForm from './signInForm'
import signUpForm from './signUpForm'
import md5 from 'crypto-js/md5'
export default {
  data () {
    return {
      errorAlert: false,
      currentOption: 'signIn',
      tabItems: [
        {
          key: 'signIn',
          title: '登入',
          formData: {
            email: '',
            password: ''
          },
          errorAlert: false,
          errorMsg: ''
        },
        {
          key: 'signUp',
          title: '註冊',
          formData: {
            username: '',
            email: '',
            password: ''
          },
          errorAlert: false,
          errorMsg: ''
        }
      ]
    }
  },
  methods: {
    handleSignIn (formValid) {
      if (formValid) {
        this.$store.dispatch('startLoading')
        this.tabItems[0].errorAlert = false
        this.tabItems[0].errorMsg = ''
        const headers = {
          'Content-Type': 'application/json'
        }
        const data = {
          email: this.tabItems[0].formData.email,
          password: md5(this.tabItems[0].formData.password).toString()
        }
        this.$http({
          method: 'post',
          url: '/auth/login',
          data,
          headers
        })
          .then((res) => {
            this.$store.dispatch('signInSuccess', res.data)
            this.$store.dispatch('stopLoding')
            this.$router.push({name: 'restaurants'})
            this.$store.dispatch('showSnackbar', {text: '登入成功。'})
          })
          .catch((err) => {
            this.tabItems[0].errorAlert = true
            this.tabItems[0].errorMsg = err.response.data.msg
            this.$store.dispatch('stopLoding')
          })
      }
    },
    handleSignUp (formValid) {
      if (formValid) {
        this.$store.dispatch('startLoading')
        this.tabItems[1].errorAlert = false
        this.tabItems[1].errorMsg = ''
        const headers = {
          'Content-Type': 'application/json'
        }
        const data = {
          username: this.tabItems[1].formData.username,
          email: this.tabItems[1].formData.email,
          password: md5(this.tabItems[1].formData.password).toString()
        }
        this.$http({
          method: 'post',
          url: '/member/sign-up',
          data,
          headers
        })
          .then((res) => {
            this.$store.dispatch('signUpSuccess', res.data)
            this.$store.dispatch('stopLoding')
          })
          .catch((err) => {
            this.tabItems[1].errorAlert = true
            this.tabItems[1].errorMsg = err.response.data.msg
            this.$store.dispatch('stopLoding')
          })
      }
    }
  },
  components: {
    signInForm,
    signUpForm
  }
}
</script>
