<template>
  <div>
    <v-layout row>
      <v-flex xs2>
        <v-subheader>{{ openHour.label }}</v-subheader>
      </v-flex>
      <v-flex xs3>
        <v-select
        :items="businessOption"
        label="營業"
        v-model="openHour.businessStatus"
        ></v-select>
      </v-flex>
      <v-spacer></v-spacer>
      <v-flex xs3>
        <v-menu
        v-model="openHour.startShow"
        :disabled="timeDisabled"
        :close-on-content-click="false"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        max-width="290px"
        min-width="290px"
        >
        <v-text-field
        :value="openHour.start"
        :disabled="timeDisabled"
        slot="activator"
        label="Start"
        prepend-icon="access_time"
        readonly
        ></v-text-field>
        <v-time-picker v-model="openHour.start" @change="openHour.startShow = false"></v-time-picker>
      </v-menu>
    </v-flex>
    <v-spacer></v-spacer>
    <v-flex xs3>
      <v-menu
      v-model="openHour.endShow"
      :disabled="timeDisabled"
      :close-on-content-click="false"
      :nudge-right="40"
      lazy
      transition="scale-transition"
      offset-y
      full-width
      max-width="290px"
      min-width="290px"
      >
      <v-text-field
      :value="openHour.end"
      :disabled="timeDisabled"
      slot="activator"
      label="End"
      prepend-icon="access_time"
      readonly
      ></v-text-field>
      <v-time-picker v-model="openHour.end" @change="openHour.endShow = false"></v-time-picker>
    </v-menu>
  </v-flex>
</v-layout>
</div>
</template>

<script>
  export default {
    props: [
      'openHour'
    ],
    data () {
      return {
        businessOption: ['Open', 'Close', '24hr']
      }
    },
    computed: {
      timeDisabled () {
        if (this.openHour.businessStatus === 'Open') {
          this.openHour.start = null
          this.openHour.end = null
          return false
        } else if (this.openHour.businessStatus === 'Close') {
          this.openHour.start = null
          this.openHour.end = null
          return true
        } else if (this.openHour.businessStatus === '24hr') {
          this.openHour.start = '00:00'
          this.openHour.end = '23:59'
          return true
        }
      }
    }
  }
</script>
