<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <div>
        <v-layout row wrap>
          <v-flex xs12>
            <section>
              <v-layout row wrap>
                <v-flex xs12 md6 lg5>
                  <v-text-field
                    outline
                    label="店名"
                    prepend-icon="store"
                    color="indigo"
                    v-model="restaurantData.name"
                    :rules="nameRules"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12 md6 lg5>
                  <v-text-field
                    label="電話"
                    prepend-icon="phone"
                    color="indigo"
                    v-model="restaurantData.phone"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12 md6 lg5>
                  <v-text-field
                    label="地址"
                    prepend-icon="location_on"
                    color="indigo"
                    v-model="restaurantData.address"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12 md6 lg5>
                  <v-checkbox
                    label="是否有外送？"
                    v-model="restaurantData.delivery"
                    color="indigo"
                  ></v-checkbox>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12>
                  <h2 class="headline">菜單圖片
                    <v-btn color="success" small icon fab @click="triggerInputUpload" v-show="restaurantData.menuImages.length < 3">
                      <v-icon>add</v-icon>
                    </v-btn>
                  </h2>
                  <input id="input-upload" type="file" @change="onFileChange" accept="image/png, image/jpeg"/>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex v-for="(image, index) in restaurantData.menuImages" :key="`menuImage${index}`" xs4 md3 lg2>
                  <v-img :src="`${apiDomain}/menu/${restaurantData.menuImages[index]}`">
                    <v-layout pa-2 column fill-height class="lightbox white--text">
                      <v-spacer></v-spacer>
                      <v-flex shrink>
                        <v-btn icon color="error" @click="removeImage(index)"><v-icon>delete</v-icon></v-btn>
                      </v-flex>
                    </v-layout>
                  </v-img>
                </v-flex>
              </v-layout>
              <!-- <v-layout row wrap>
                <v-flex xs12 md6 lg5>
                  <h2 class="title"><v-icon color="indigo">access_time</v-icon>&emsp;營業時間</h2>
                </v-flex>
              </v-layout> -->
              <!-- <v-layout row wrap>
                <v-flex xs12 md6 lg5>
                  <div v-for="day in restaurantData.openHour" :key="Object.keys(day)[0]" class="daysOpenTime">
                    <span style="font-weight: 600;">{{ weekName[Object.keys(day)[0]] }}</span>
                    <template v-if="Object.values(day)[0].length > 0">
                      <div v-for="(hours, index) in Object.values(day)[0]" :key="Object.keys(day)[0] + index" class="indent">
                        {{ hours.Start.substring(0, 2) }}:{{ hours.Start.substring(2) }} - {{ hours.Finish.substring(0, 2) }}:{{ hours.Finish.substring(2) }}
                      </div>
                    </template>
                    <template v-else>
                      <div class="indent">公休</div>
                    </template>
                  </div>
                </v-flex>
              </v-layout> -->
              <!-- <v-layout row wrap>
                <v-flex xs5 offset-xs1>
                  <time-select></time-select>
                </v-flex>
                <v-flex xs1 text-xs-center>
                  <span style="line-height: 60px;">
                    <v-icon>arrow_right_alt</v-icon>
                  </span>
                </v-flex>
                <v-flex xs5>
                  <time-select></time-select>
                </v-flex>
              </v-layout> -->
              <v-layout row wrap>
                <v-flex xs12 md6 lg5>
                  <v-textarea
                    label="備註"
                    v-model="restaurantData.comment"
                    auto-grow
                    color="indigo"
                  ></v-textarea>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs12>
                  <v-btn color="primary" @click="handleSave()">儲存</v-btn>
                  <v-btn :to="{ name:'restaurantDetail', params: {id: restaurantData._id} }">取消</v-btn>
                </v-flex>
              </v-layout>
            </section>
          </v-flex>
        </v-layout>
      </div>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      apiDomain: '',
      restaurantData: {},
      weekName: {
        'Monday': '星期一',
        'Tuesday': '星期二',
        'Wednesday': '星期三',
        'Thursday': '星期四',
        'Friday': '星期五',
        'Saturday': '星期六',
        'Sunday': '星期日'
      },
      nameRules: [
        value => !!value || '此欄位必填。'
      ],
      uploadProgress: false
    }
  },
  created: async function () {
    this.$store.dispatch('startLoading')
    const restaurantId = this.$route.params.id
    try {
      const restaurantResponse = await this.$http({
        method: 'get',
        url: '/restaurant/' + restaurantId
      })
      this.apiDomain = process.env.ROOT_API
      this.restaurantData = restaurantResponse.data

      this.$store.dispatch('stopLoding')
    } catch (err) {
      console.log(err)
      this.$store.dispatch('showSnackbar', {color: 'error', text: 'Error.'})
      this.$store.dispatch('stopLoding')
    }
  },
  methods: {
    // Trigger file input.
    triggerInputUpload: function () {
      document.getElementById('input-upload').click()
    },
    // Select file.
    onFileChange: function (e) {
      const files = e.target.files || e.dataTransfer.files
      if (!files.length) {
        return
      }
      this.uploadImage(files)
    },
    // Upload image
    uploadImage: async function (files) {
      this.uploadProgress = true
      try {
        let imageData = new FormData()
        imageData.append('name[]', files[0])
        const imageHeaders = {
          'Content-Type': 'multipart/form-data'
        }
        const uploadResponse = await this.$http({
          method: 'post',
          url: '/restaurant-manage/upload-menu-image',
          data: imageData,
          headers: imageHeaders
        })
        if (uploadResponse.data.success) {
          setTimeout(() => {
            this.restaurantData.menuImages = this.restaurantData.menuImages.concat(uploadResponse.data.uploadedFileName)
            this.uploadProgress = false
          }, 1000)
        }
      } catch (err) {
        this.uploadProgress = false
        this.$store.dispatch('showSnackbar', {color: 'error', text: '上傳錯誤。'})
        console.log(err)
        console.log(err.response.data.msg)
      }
    },
    // Remove image.
    removeImage: function (index) {
      this.restaurantData.menuImages.splice(index, 1)
    },
    async handleSave () {
      const id = this.restaurantData._id
      delete this.restaurantData._id
      try {
        const headers = {
          'Content-Type': 'application/json'
        }
        this.$store.dispatch('startLoading')
        const editResponse = await this.$http({
          method: 'put',
          url: '/restaurant-manage/' + id,
          data: JSON.stringify(this.restaurantData),
          headers
        })
        if (editResponse.data.ok) {
          this.$router.push({name: 'restaurants'})
          this.$store.dispatch('showSnackbar', {text: '編輯餐廳成功。'})
        }
      } catch (err) {
        this.$store.dispatch('showSnackbar', {color: 'error', text: 'Error.'})
        console.log(err)
        console.log(err.response.data.msg)
        this.$store.dispatch('stopLoding')
      }

      console.log(id)
      console.log(this.restaurantData)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.img-dialog {
  max-width: 100%;
}
h2 {
  color: #444;
  margin: 1.236em 0 .618em 0;
}
p {
  color: #444;
  margin-left: 12px;
}
section {
  margin: 1.236em 0 .618em 0;
}
.title {
  font-weight: 400;
}
.daysOpenTime {
  margin-left: 48px;
}
.daysOpenTime + .daysOpenTime {
  margin-top: 10px;
}
.indent {
  padding-left: 2em;
}
input[type="file"] {
    display: none;
}
</style>

