<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-left>
        <div class="flex xs12">
          <section class="section-head">
            <h1 class="display-1 primary--text">新增餐廳</h1>
          </section>
          <section class="section-main">
            <v-layout row wrap>
              <v-flex xs12 md6 lg5>
                <v-text-field
                  outline
                  label="店名"
                  prepend-icon="store"
                  color="indigo"
                  v-model="name"
                  :rules="nameRules"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 md6 lg5>
                <v-text-field
                  label="電話"
                  prepend-icon="phone"
                  color="indigo"
                  v-model="phone"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 md6 lg5>
                <v-text-field
                  label="地址"
                  prepend-icon="location_on"
                  color="indigo"
                  v-model="address"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 md6 lg5>
                <v-checkbox
                  label="是否有外送？"
                  v-model="delivery"
                  color="indigo"
                ></v-checkbox>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12>
                <h2 class="headline">菜單圖片
                  <v-btn color="success" small icon fab @click="triggerInputUpload" v-show="menuImages.length < 3">
                    <v-icon>add</v-icon>
                  </v-btn>
                </h2>
                <input id="input-upload" type="file" @change="onFileChange" accept="image/png, image/jpeg"/>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex v-for="(image, index) in menuImages" :key="`menuImage${index}`" xs4 md3 lg2>
                <v-img :src="`${apiDomain}/menu/${menuImages[index]}`">
                  <v-layout pa-2 column fill-height class="lightbox white--text">
                    <v-spacer></v-spacer>
                    <v-flex shrink>
                      <v-btn icon color="error" @click="removeImage(index)"><v-icon>delete</v-icon></v-btn>
                    </v-flex>
                  </v-layout>
                </v-img>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 md6 lg5>
                <v-textarea
                  label="備註"
                  v-model="comment"
                  auto-grow
                  color="indigo"
                ></v-textarea>
              </v-flex>
            </v-layout>
          </section>
          <section class="section-upload">
            <v-layout>
              <v-flex xs12 md6 lg5>
                <v-btn color="info" block @click="handleUpload">upload</v-btn>
              </v-flex>
            </v-layout>
          </section>
        </div>
      </v-layout>
    </v-slide-y-transition>
    <v-dialog
      v-model="uploadProgress"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="success"
        dark
      >
        <v-card-text>
          上傳中
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      apiDomain: '',
      name: '',
      delivery: false,
      phone: '',
      address: '',
      comment: '',
      menuImages: [],
      nameRules: [
        value => !!value || '此欄位必填。'
      ],
      uploadProgress: false
    }
  },
  methods: {
    // Trigger file input.
    triggerInputUpload: function () {
      document.getElementById('input-upload').click()
    },
    // Select file.
    onFileChange: function (e) {
      const files = e.target.files || e.dataTransfer.files
      if (!files.length) {
        return
      }
      this.uploadImage(files)
    },
    // Upload image
    uploadImage: async function (files) {
      this.uploadProgress = true
      try {
        let imageData = new FormData()
        imageData.append('name[]', files[0])
        const imageHeaders = {
          'Content-Type': 'multipart/form-data'
        }
        const uploadResponse = await this.$http({
          method: 'post',
          url: '/restaurant-manage/upload-menu-image',
          data: imageData,
          headers: imageHeaders
        })
        if (uploadResponse.data.success) {
          setTimeout(() => {
            this.menuImages = this.menuImages.concat(uploadResponse.data.uploadedFileName)
            this.uploadProgress = false
          }, 1000)
        }
      } catch (err) {
        this.uploadProgress = false
        this.$store.dispatch('showSnackbar', {color: 'error', text: '上傳錯誤。'})
        console.log(err)
        console.log(err.response.data.msg)
      }
    },
    // Remove image.
    removeImage: function (index) {
      this.menuImages.splice(index, 1)
    },
    // Create restaurant.
    handleUpload: async function () {
      this.$store.dispatch('startLoading')
      try {
        const insertHeaders = {
          'Content-Type': 'application/json'
        }
        const insertData = {
          'address': this.address,
          'comment': this.comment,
          'delivery': this.delivery,
          'name': this.name,
          'phone': this.phone,
          'menuImages': this.menuImages,
          'openHour': [
            {
              'Monday': []
            },
            {
              'Tuesday': []
            },
            {
              'Wednesday': []
            },
            {
              'Thursday': []
            },
            {
              'Friday': []
            },
            {
              'Saturday': []
            },
            {
              'Sunday': []
            }
          ]
        }
        const insertResponse = await this.$http({
          method: 'post',
          url: '/restaurant-manage',
          data: JSON.stringify(insertData),
          headers: insertHeaders
        })
        if (insertResponse.data.result.ok) {
          this.$router.push({name: 'restaurants'})
          this.$store.dispatch('showSnackbar', {text: '新增餐廳成功。'})
        }
        this.$store.dispatch('stopLoding')
      } catch (err) {
        this.$store.dispatch('showSnackbar', {color: 'error', text: 'Error.'})
        console.log(err)
        console.log(err.response.data.msg)
        this.$store.dispatch('stopLoding')
      }
    }
  },
  created: async function () {
    this.apiDomain = process.env.ROOT_API
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.section-head {
  margin: 12px 0px;
}
.section-main {
  margin: 12px 0px;
}
.section-upload {
  margin-top: 32px;
}
.preview-image {
  max-height: 300px;
  max-width: 100%;
}
.btn-trigger-input {
  margin-left: 0px;
}
input[type="file"] {
    display: none;
}
</style>
