<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <div>
        <v-layout row>
          <v-flex xs7>
            <v-text-field
              solo
              label="搜尋關鍵字"
              append-icon="search"
              v-model="keyword"
            ></v-text-field>
          </v-flex>
          <v-flex xs5 text-xs-right>
            <v-btn to="insertRestaurants" color="info">新增餐廳</v-btn>
          </v-flex>
        </v-layout>
        <!-- <pre>{{ filterRestaurant }}</pre> -->
        <v-layout row wrap>
          <v-flex xs12 md6 lg4 v-for="res in filterRestaurant" :key="res._id">
            <v-card class="card">
              <v-img
                v-if="res.menuImages[0]"
                :src="`${apiDomain}/menu/${res.menuImages[0]}`"
                height="200px"
              ></v-img>
              <v-img
                v-else
                height="200px"
                class="text-xs-center align-center"
              >
                <v-icon x-large>photo_size_select_actual</v-icon>
              </v-img>
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">{{ res.name }}</h3>
                </div>
              </v-card-title>
              <v-card-actions>
                <v-btn :to="{ name:'restaurantDetail', params: {id: res._id} }" flat color="indigo">詳細資料</v-btn>
                <!-- <v-btn flat color="orange">發起團購</v-btn> -->
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </div>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      restaurantData: [],
      apiDomain: '',
      keyword: ''
    }
  },
  computed: {
    filterRestaurant: function () {
      return this.restaurantData.filter((restaurant) => {
        return restaurant.name.toLowerCase().indexOf(this.keyword.toLowerCase()) > -1
      })
    }
  },
  created: async function () {
    this.$store.dispatch('startLoading')
    try {
      const restaurantResponse = await this.$http({
        method: 'get',
        url: '/restaurant/list'
      })
      this.apiDomain = process.env.ROOT_API
      this.restaurantData = restaurantResponse.data

      this.$store.dispatch('stopLoding')
    } catch (err) {
      console.log(err)
      this.$store.dispatch('showSnackbar', {color: 'error', text: 'Error.'})
      this.$store.dispatch('stopLoding')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.card {
  margin: 8px;
}
</style>
