<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <div>
        <v-layout row wrap>
          <v-flex xs12>
            <section>
              <h1 class="display-1 indigo--text">{{ restaurantData.name }}</h1>
            </section>
            <section>
              <v-container grid-list-sm fluid>
                <v-layout row wrap>
                  <v-flex
                    v-for="image in restaurantData.menuImages"
                    :key="image"
                    xs6 md4 lg3
                    d-flex
                    @click="dialog = true; dialogImg = image;"
                  >
                    <v-card flat tile class="d-flex">
                      <v-img
                        :src="`${apiDomain}/menu/${image}`"
                        contain
                      >
                        <v-layout
                          slot="placeholder"
                          fill-height
                          align-center
                          justify-center
                          ma-0
                        >
                          <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                        </v-layout>
                      </v-img>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-container>
            </section>
            <hr>
            <section>
              <v-layout row>
                <v-flex xs6>
                  <span class="font-subheader">基本資訊</span>
                </v-flex>
                <v-flex xs6 class="text-xs-right">
                  <v-btn outline color="warning" small :to="{ name:'editRestaurants', params: {id: restaurantData._id} }">編輯</v-btn>
                </v-flex>
              </v-layout>
              <h2 class="title"><v-icon color="indigo">phone</v-icon>&emsp;{{ restaurantData.phone }}</h2>
              <h2 class="title"><v-icon color="indigo">location_on</v-icon>&emsp;{{ restaurantData.address }}</h2>
              <h2 class="title"><v-icon color="indigo">motorcycle</v-icon>&emsp;<span v-if="restaurantData.delivery">可外送</span><span v-if="!restaurantData.delivery">無外送</span></h2>
              <!-- <h2 class="title"><v-icon color="indigo">access_time</v-icon>&emsp;營業時間</h2>
              <div v-for="day in restaurantData.openHour" :key="Object.keys(day)[0]" class="daysOpenTime">
                <span style="font-weight: 600;">{{ weekName[Object.keys(day)[0]] }}</span>
                <template v-if="Object.values(day)[0].length > 0">
                  <div v-for="(hours, index) in Object.values(day)[0]" :key="Object.keys(day)[0] + index" class="indent">
                    {{ hours.Start.substring(0, 2) }}:{{ hours.Start.substring(2) }} - {{ hours.Finish.substring(0, 2) }}:{{ hours.Finish.substring(2) }}
                  </div>
                </template>
                <template v-else>
                  <div class="indent">公休</div>
                </template>
              </div> -->
              <h2 class="title"><v-icon color="indigo">comment</v-icon>&emsp;{{ restaurantData.comment }}</h2>
              <v-btn depressed style="margin-left: 0px;" :to="{name: 'restaurants'}">返回</v-btn>
            </section>
          </v-flex>
        </v-layout>
      </div>
    </v-slide-y-transition>
    <v-dialog
      v-model="dialog"
      scrollable
    >
      <v-card>
        <v-card-text class="text-xs-center">
          <img
            :src="`${apiDomain}/menu/${dialogImg}`"
            class="img-dialog"
          >
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            flat="flat"
            @click="dialog = false"
          >
            關閉
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>

export default {
  data () {
    return {
      restaurantData: {},
      apiDomain: '',
      dialog: false,
      dialogImg: '',
      weekName: {
        'Monday': '星期一',
        'Tuesday': '星期二',
        'Wednesday': '星期三',
        'Thursday': '星期四',
        'Friday': '星期五',
        'Saturday': '星期六',
        'Sunday': '星期日'
      }
    }
  },
  created: async function () {
    this.$store.dispatch('startLoading')
    const restaurantId = this.$route.params.id
    try {
      const restaurantResponse = await this.$http({
        method: 'get',
        url: '/restaurant/' + restaurantId
      })
      this.apiDomain = process.env.ROOT_API
      this.restaurantData = restaurantResponse.data
      console.log(this.restaurantData)

      this.$store.dispatch('stopLoding')
    } catch (err) {
      console.log(err)
      this.$store.dispatch('showSnackbar', {color: 'error', text: 'Error.'})
      this.$store.dispatch('stopLoding')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.img-dialog {
  max-width: 100%;
}
h2 {
  color: #444;
  margin: 1.236em 0 .618em 0;
}
p {
  color: #444;
  margin-left: 12px;
}
section {
  margin: 1.236em 0 .618em 0;
}
.title {
  font-weight: 400;
}
.daysOpenTime {
  margin-left: 48px;
}
.daysOpenTime + .daysOpenTime {
  margin-top: 10px;
}
.font-subheader {
  font-weight: 700;
  font-size: 16sp;
  line-height: 40px;
  height: 40px;
  color: rgba(0,0,0,0.73);;
}
.indent {
  padding-left: 2em;
}
</style>
