<template>
  <v-form v-model="formValid">
    <v-text-field
      v-model="formData.email"
      :rules="[rules.required, rules.email]"
      label="電子郵件地址"
    ></v-text-field>
    <v-text-field
      v-model="formData.password"
      :append-icon="passwordVisibility ? 'visibility_off' : 'visibility'"
      :rules="[rules.required]"
      :type="passwordVisibility ? 'text' : 'password'"
      label="密碼"
      counter
      @click:append="passwordVisibility = !passwordVisibility"
      @keyup.enter="submit"
    ></v-text-field>
    <v-btn
      class="btn-submit"
      block
      color="primary"
      @click="submit"
    >
      登入
    </v-btn>
    <v-alert
      :value="warningAlert"
      color="warning"
      icon="priority_high"
      outline
    >
      尚有欄位未填寫正確。
    </v-alert>
    <v-alert
      :value="errorAlert"
      type="error"
      outline
    >
      {{ errorMsg }}
    </v-alert>
  </v-form>
</template>

<script>
export default {
  props: [
    'formData',
    'errorAlert',
    'errorMsg'
  ],
  data () {
    return {
      formValid: false,
      warningAlert: false,
      passwordVisibility: false,
      rules: {
        required: value => !!value || '此欄位必填。',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || '信箱格式不正確。'
        }
      }
    }
  },
  methods: {
    submit () {
      this.warningAlert = false
      if (this.formValid) {
        this.$emit('handleSignIn', this.formValid)
      } else {
        this.warningAlert = true
      }
    }
  }
}
</script>

<style scoped>
.btn-submit {
  margin-top: 88px;
}
</style>
