<template>
  <v-app>
    <v-navigation-drawer
      app
      fixed
      clipped
      v-model="drawer"
    >
      <v-list>
        <template v-for="(item, index) in menuItems">
          <v-list-tile
            v-if="item.action"
            :key="item.title"
            :to="{ name: item.routeName }"
          >
            <v-list-tile-action>
              <v-icon>{{ item.action }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider
            v-if="item.divider"
            :key="index"
          ></v-divider>
          <v-subheader
            v-if="item.header"
            :key="item.header"
          >
            {{ item.header }}
          </v-subheader>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      app
      fixed
      clipped-left
      dark
      color="blue-grey darken-4"
      height="58"
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <router-link :to="{ name: 'defaultPage' }" class="d-flex">
        <img src="@/assets/toolbar_logo.svg" class="toolbar-img" alt="logo" height="38px" width="38px">
      </router-link>
      <v-toolbar-title class="toolbar-title" v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <span v-if="username" v-text="username"></span>
      <v-menu offset-y offset-x v-if="username">
        <v-icon
          slot="activator"
          flat
          dark
        >arrow_drop_down</v-icon>
        <v-list>
          <v-list-tile @click="signOut">
            <v-list-tile-title><v-icon style="padding-right:20px;">exit_to_app</v-icon>登出</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <v-btn flat dark v-if="!username" :to="{name: 'authentication'}">
        登入
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-fade-transition mode="out-in">
        <router-view/>
      </v-fade-transition>
      <v-fade-transition mode="out-in">
        <loading-screen
          :show="loading"
          label="Loading...">
        </loading-screen>
      </v-fade-transition>
    </v-content>
    <v-snackbar
      v-model="snackbar.show"
      :top="snackbar.top"
      :multi-line="snackbar.multiLine"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
    >
      {{ snackbar.text }}
      <v-btn
        color="white"
        flat
        @click="hideSnackbar()"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
import loadingScreen from 'vue-full-loading'
export default {
  components: {
    loadingScreen
  },
  data () {
    return {
      drawer: true,
      menuItems: [
        {
          divider: false,
          header: '餐點'
        },
        // {
        //   routeName: 'orderFood',
        //   action: 'restaurant_menu',
        //   title: '點餐'
        // },
        {
          routeName: 'restaurants',
          action: 'restaurants',
          title: '餐廳'
        }
        // {
        //   routeName: 'launchTour',
        //   action: 'face',
        //   title: '發起 / 結束團購'
        // },
        // {
        //   divider: true,
        //   header: '個人紀錄'
        // },
        // {
        //   routeName: 'receivable',
        //   action: 'attach_money',
        //   title: '應收款'
        // },
        // {
        //   routeName: 'payable',
        //   action: 'money_off',
        //   title: '應付款'
        // }
      ],
      avatarSize: 40,
      title: 'NEXT MEAL'
    }
  },
  methods: {
    signOut () {
      this.$store.dispatch('startLoading')
      this.$store.dispatch('signOut')
      this.$store.dispatch('stopLoding')
    },
    hideSnackbar () {
      this.$store.dispatch('hideSnackbar')
    }
  },
  computed: {
    username () {
      return this.$store.state.user.username
    },
    loading () {
      return this.$store.state.common.loading
    },
    snackbar () {
      return this.$store.state.common.snackbar
    }
  },
  name: 'App'
}
</script>

<style scoped>
  .toolbar-title {
    font-weight: 100;
    margin-left: 10px;
  }
  .toolbar-img {
    margin-left: 10px;
  }
  .d-flex {
    display: flex !important;
  }
</style>
